h1 {
	color: #32CD32;
	font-family: 'Share Tech Mono', monospace;
}

p {
	color: #32CD32;
	width: 65%;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20;
}

body {
	background-color: black;
	color: #32CD32;
	text-align: center;
}

td {
	height: 10px;
}

button {
	margin-top: 20px
}

.finish-line {
	background-color: white;
}

